body
{
    background: #FFF5C2;
    background: -moz-linear-gradient(top, #FFF5C2 0%, #FFEDFA 50%, #FFF5C2 100%);
    background: -webkit-linear-gradient(top, #FFF5C2 0%, #FFEDFA 50%, #FFF5C2 100%);
    background: linear-gradient(to bottom, #FFF5C2 0%, #FFEDFA 50%, #FFF5C2 100%); 
    color:rgb(0, 0, 0);
    text-align: center;
    font-family: "Calibri";
    font-size: 19px;
    margin: 0.5;
    padding: 0.4;


}

#cabecera
{
    background: #fff1fa 0%;
    -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}

#cabecera #logo
{
    width: 180px;
    vertical-align: middle;
}

#cabecera #tagline
{
    padding: 0 0 1 1em;
    font-weight: normal;
    font-size: 0.9em;
}

#container
{
    width: 60%;
    padding: 1em;
    text-align: center;
    border: 0.8px solid rgb(78, 78, 78);
    margin: 0 auto;

}

#container h1
{
    font-size: 20px;
    font-weight: bolder;
}

#post
{   
    padding: 1.5em;
    text-align: center;
}

#footer
{
	text-align: center;
}
